# GitIgnore for DotNetHack
*/bin/*.*
*/bin/**/*
*/obj/**/*
*/bin
*/obj

# ReSharper files
_ReSharper.*/*
_ReSharper.*/**/*
*.resharper.user

# Visual Studio files
*.Publish.xml
*.suo
*.sln.cache
*.csproj.user
App_Data

# MonoDevelop files
*.pidb
*.usertasks
*.userprefs
*.trx

.DS_Store

src/.DS_Store

src/DotNetHack/bin/Debug/DotNetHack.exe

src/Plugins/DotNetHack.Plugin/bin/Debug/DotNetHack.Plugin.dll.mdb

src/DotNetHack/bin/Debug/DotNetHack.exe.mdb

src/DotNetHack.Data/bin/Debug/DotNetHack.Data.dll

src/DotNetHack.Data/bin/Debug/DotNetHack.Data.dll.mdb

src/DotNetHack.GameEngine/bin/Debug/DotNetHack.GameEngine.dll.mdb

src/DotNetHack.Serialization/bin/Debug/DotNetHack.Serialization.dll

src/DotNetHack.GameEngine/bin/Debug/DotNetHack.GameEngine.dll

src/DotNetHack.Plugin/DotNetHack.Plugin.csproj

src/DotNetHack/DotNetHack.csproj

src/DotNetHack.AI/bin/Debug/DotNetHack.AI.dll

src/DotNetHack.Serialization/bin/Debug/DotNetHack.Serialization.dll.mdb

src/Plugins/DotNetHack.Plugin/bin/Debug/DotNetHack.Plugin.dll

src/DotNetHack.Core/bin/Debug/DotNetHack.Core.dll.mdb

src/DotNetHack.Core/bin/Debug/DotNetHack.Core.dll

c/DotNetHack.Plugin/DotNetHack.Plugin.csproj

src/DotNetHack.AI/bin/Debug/DotNetHack.AI.dll.mdb

c/DotNetHack.Plugin/DotNetHack.Plugin.csproj

c/DotNetHack.GameEngine/MyClass.cs
