USE [DNH]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_User_Created]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[User] DROP CONSTRAINT [DF_User_Created]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_User_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[User] DROP CONSTRAINT [DF_User_Status]
END

GO
/****** Object:  Table [dbo].[User]    Script Date: 3/23/2013 3:55:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
USE [master]
GO
/****** Object:  Database [DNH]    Script Date: 3/23/2013 3:55:01 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'DNH')
DROP DATABASE [DNH]
GO
/****** Object:  Database [DNH]    Script Date: 3/23/2013 3:55:01 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DNH')
BEGIN
CREATE DATABASE [DNH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DNH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DIEMOS\MSSQL\DATA\DNH.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DNH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DIEMOS\MSSQL\DATA\DNH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DNH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DNH]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/23/2013 3:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[PasswordHash] [char](64) NOT NULL,
	[Status] [varchar](16) NOT NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [PasswordHash], [Status], [Created]) VALUES (1, N'admin', N'A573DAE411C5986EE1626884C4134407EB9DEF3                         ', N'Active', CAST(0x0000A18A00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_User_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Status]  DEFAULT ('Created') FOR [Status]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_User_Created]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Created]  DEFAULT (getdate()) FOR [Created]
END

GO
USE [master]
GO
