<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotNetHack.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotNetHack.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DotNetHack.Shared.Properties.Settings>
            <setting name="TileSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ScriptPath" serializeAs="String">
                <value>scripts</value>
            </setting>
        </DotNetHack.Shared.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DotNetHack.Shared.Properties.Settings>
            <setting name="TileSetImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MetaEntitiesPath" serializeAs="String">
                <value />
            </setting>
        </DotNetHack.Shared.Properties.Settings>
    </userSettings>
</configuration>